

body {
    background-color: #7a69dc;
    font-family: Arial, sans-serif;
    color: #000000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


h1 {
    text-align: center;
    background-color: aliceblue;
    margin: 0;
    padding: 10px;
    border-radius: 50px;
}

h2 {
    text-align: center;
    background-color: aliceblue;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
}

h3 {
    text-align: center;
    color: #ffffff;
    margin: 10px 0;
}


a {
    color: #ffffff;
    text-decoration: none; 
    margin: 50px;
    padding: 5px;
}


p {
    text-align: left;
    color: #ffffff;
    margin: 10px 0;
}


nav {
    text-align: center;
    margin: 10px 0;
}


button {
     display: block;      
    margin: 20px auto;  
    padding: 10px 20px;
    cursor: pointer;
}


img {
    display: block;
    margin: 30px auto;
    padding: 10px;
    width: 250px;
    height: auto;
    border-radius: 20px; 
}

main {
    flex: 1;
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


.social-links {
    text-align: center;
    margin: 20px 0;
}

.social-link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #7a69dc;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    transition: transform 0.2s, background-color 0.2s, color 0.2s;
}


.social-link:hover {
    background-color: #7a69dc;
    color: #ffffff;
    transform: scale(1.1);
}